<div class="container">
  <h2>Payment Details</h2>

  <p><strong>Status:</strong> <%= @payment.payment_status.capitalize %></p>

  <%= link_to "Back to Shopping List",
      shopping_list_items_path,
      class: "btn btn-primary" %>
</div>
